<%- include('./partials/header') %>

    <h1>Our Growing City</h1>
    <h5>...maybe something about a login</h5>
    <h5>Select your neighbourhood to see development taking place in your community.</h5>

    <!-- map -->
    
    <table>
      <thead>
        <tr>
          <th>Neighbourhood</th>
          <th>Explore</th>          
        </tr>
      </thead>
      <tbody>
        <% neighbourhoodData.forEach(function(n) { %>
        <tr>
          <td><%= n.AREA_NAME %> </td>
          <td><a href="/city/<%= n._id %>">Details</a></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

  <h3>Select your neighbourhood</h3>
</section>

<%- include('./partials/footer') %>