<%- include('./partials/header') %>

    <h1>Our Growing City</h1>
    <h3>Please login for further information on the development in your neighbourhood</h3>
    <a href="/auth/google">Log In</a>
    <a href="./city/index.ejs">Home</a>

<%- include('./partials/footer') %>