<%- include('../partials/header') %>
</br>
</br>
<div class="developments-container">
  <%= result.STREET_NUM result.STREET_NAME result.STREET_TYPE %>

  <div class="review-container">
    <h3>Add Review:</h3>
    <form id="add-review" method="POST" action="/development/reviews">
      <label>Review:</label>
      <br />
      <textarea name="content"></textarea>
      <br />
      <input type="submit" value="Add Review" />
    </form>
    <br />
    <br />
  </div>
</div>
<%- include('../partials/footer') %>
