body {
  font-family: 'Barlow', sans-serif;
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "body";
  text-align: center;
}

body > nav {
  grid-area: nav;
  background-color: #000000ce;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 0 50px;
}

nav > a:hover {
  color: rgb(255, 225, 0);
}

nav > a.active {
  color: white;
}

h1 {
  font-size: 5vh;
}

h3 {
  font-size: 3vh;
}

h6 {
  color: rgb(82, 82, 82);
}

table thead th {
  width: 50vw;
  padding: 5px;
  border-bottom: 2px solid #424748;
  /* text-align: center; */
}
main {
display: flex;
justify-content: center;
}
table {
  width: 70%;
}